
<aside>
    <div class="grid container">
        <div class="row">
            <div class="col c-12 m-3 l-3 nav-menu">
                <div class="logo">
                    <a href="index.html" class="link-logo">
                        <img src="assets/set/img/logo.png" alt="">
                    </a>
                </div>

                <div class="box-menu" (click)="toggleMenuList()">
                    <div class="menu-item">
                        <i style="color: rgb(66, 114, 215);" class="fa-solid fa-gauge-high"></i><a style="color: rgb(66, 114, 215);" routerLink="/">Dashbroad</a>
                    </div>

                    <div class="menu-item">
                        <div class="box-manage-menu">
                            <i class="fa-solid fa-bars-progress"></i><a
                             href="#">Quản lý sản phẩm</a>
                            <i id="icon-angle-right" style="margin-left: 20px;font-size: 12px;" class="fa-solid fa-angle-right"></i>                                  
                        </div>
                        <ul class="menu-item__list" *ngIf="isMenuListVisible">
                            <li>
                                <a routerLink="/category">Loại sản phẩm</a>
                            </li>

                            <li>
                                <a routerLink="/products">Sản phẩm</a>
                            </li>

                            <li>
                                <a routerLink="/color">Màu sắc</a>
                            </li>

                            <li>
                                <a routerLink="/size">Kích thước</a>
                            </li>

                            <li>
                                <a routerLink="/brand">Hãng</a>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-item">
                        <i class="fa-solid fa-file-import"></i><a routerLink="/importinvoice">Hóa đơn nhập</a>
                    </div>

                    <div class="menu-item" (click)="toggleMenuListVoucher()">
                        <div class="box-manage-menu">
                            <i class="fa-solid fa-ticket"></i><a
                             href="#">Quản lý phiếu giảm giá</a>
                            <i id="icon-angle-right" style="margin-left: 20px;font-size: 12px;" class="fa-solid fa-angle-right"></i>                                  
                        </div>
                        <ul class="menu-item__list" *ngIf="isMenuListVisibleVoucher">
                            <li>
                                <a routerLink="/categoryvoucher">Loại phiếu giảm giá</a>
                            </li>

                            <li>
                                <a routerLink="/voucher">Phiếu giảm giá</a>
                            </li>
                        </ul>
                    </div>

                    <div class="menu-item" (click)="toggleMenuListNew()">
                        <div class="box-manage-menu">
                            <i class="fa-solid fa-newspaper"></i><a
                             href="#">Quản lý tin tức</a>
                            <i id="icon-angle-right" style="margin-left: 20px;font-size: 12px;" class="fa-solid fa-angle-right"></i>                                  
                        </div>
                        <ul class="menu-item__list" *ngIf="isMenuListVisibleNew">
                            <li>
                                <a routerLink="/categorynews">Chủ đề tin tức</a>
                            </li>

                            <li>
                                <a routerLink="/news">Tin tức</a>
                            </li>
                        </ul>
                    </div>
                      
                    <div class="menu-item">
                        <i class="fa-solid fa-truck-arrow-right"></i><a routerLink="/transport">Quản lý vận chuyển</a>
                    </div>
                    
                    <div class="menu-item"><i class="fa-solid fa-users"></i><a routerLink="/user">Người dùng</a>
                    </div>
                    <div class="menu-item">
                        <i class="fa-solid fa-user"></i><a routerLink="/supplier">Nhà cung cấp</a>
                    </div>

                    <div class="menu-item">
                        <i class="fa-regular fa-credit-card"></i><a routerLink="/billofsale">Hóa đơn bán</a>
                    </div>
                    <div class="menu-item" >
                        <i class="fa-solid fa-message"></i><a
                            routerLink="/message">Tin nhắn</a>
                    </div>
                    <div class="menu-item">
                        <i class="fa-solid fa-list-check"></i><a
                            routerLink="/orther">Thông tin khác</a>
                    </div>
                   
                </div>
            </div>

            <div class="col c-12 m-9 l-9">
                <app-header (navbarClicked)="handleNavbarClick()"></app-header>
               
                <div class="main-content">
                    <div class="title">
                        <h3>Thống kê doanh thu</h3>
                    </div>
                    <div class="col l-12 m-12 c-12">
                        <div class="row">
                            <div class="col l-6 m-12 c-12 box_content_product">
                                <div id="box_title">
                                    <div>
                                        <i class="fa-solid fa-arrow-up-right-dots"></i>
                                    </div>
                                    <div>
                                        Tổng số đơn hàng chờ duyệt
                                        <span id="tienbanhang">
                                            ({{ quantityBillWaiting }})
                                        </span>
                                    </div>
                                </div>
                              
                            </div>
                            <div class="col l-6 m-12 c-12 box_content_product">
                                <div id="box_title2">
                                    <div>
                                        <i class="fa-solid fa-cloud"></i>
                                    </div>
                                    <div>
                                        Đánh giá sản phẩm <span id="sodonhangnhap">({{ quantityComment }})</span> <br>
                                        <!-- <span>
                                            <span id="sosanphamnhap">0</span>
                                        </span> -->
                                    </div>
                                </div>
                               
                            </div>
                            
                                <div class="col l-12 m-12 c-12 box_chart_line">
                                    <div class="chose_year">
                                        <p style="margin-bottom: 10px;">Chọn năm:</p>
                                        <p-calendar (ngModelChange)="changeYear($event)" [(ngModel)]="date" view="year" dateFormat="yy" inputId="yearpicker"></p-calendar>
                                    </div>
                                    <div class="rate_in_month">
                                        <ngx-charts-line-chart 
                                        [view]="view"
                                        [scheme]="colorScheme"
                                        [showXAxisLabel]="showXAxisLabel"
                                        [showYAxisLabel]="showYAxisLabel"
                                        [xAxis]="xAxis"
                                        [animations]="true"
                                        [yAxis]="yAxis"
                                        [xAxisLabel]="xAxisLabel"
                                        [yAxisLabel]="yAxisLabel"
                                        [timeline]="timeline"
                                        [results]="multi"
                                        (select)="onSelect($event)"
                                        (activate)="onActivate($event)"
                                        (deactivate)="onDeactivate($event)"
                                            >
                                        </ngx-charts-line-chart>
                                    </div>
                                </div>
                                <div class="col l-12 m-12 c-12 box-table" style="box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
                                margin: 10px 0;padding-bottom: 20px;">
                                    <h3 style="margin: 15px 0;font-size: 20px;
                                        font-weight: 600; text-align: center;
                                    ">Thông tin sản phẩm bán chạy</h3>
                                   
                                    <table>
                                        <thead>
                                            <tr>
                                                <th>
                                                    Mã chi tiết sản phẩm
                                                </th>
                                                <th>
                                                    Tên sản phẩm
                                                </th>
                                                <th>Tên màu</th>
                                                <th>
                                                    Kích thước
                                                </th>
                                                <th>
                                                    Hình ảnh
                                                </th>
                                                <th>
                                                    Giá bán
                                                </th>
                                                <th>
                                                    Giá khuyến mại
                                                </th>
                                                <th>Số lượng bán</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let item of sellingproduct.slice(0,10)">
                                                
                                                <td>
                                                    {{ item.MaChiTietSanPham }}
                                                </td>
                                                <td>
                                                    {{ item.TenSanPham }}
                                                </td>
            
                                                <td>
                                                    {{ item.TenMau }}
                                                </td>
            
                                                <td>
                                                    {{ item.TenKichThuoc }}
                                                </td>
                                                <td>
                                                    <img id="modalimg" style="width:40px;cursor: pointer;" [src]="item.DuongDan ? ('http://localhost:8000/'+item.DuongDan) : '/assets/set/img/user7.jpg'" alt="">
                                                </td>
                                                <td>
                                                    {{ item.giaban | number }}
                                                </td>
                                                <td>
                                                    {{ item.GiaKhuyenMai | number }}
                                                </td>
                                                <td>
                                                    {{ item.TongSoLuong }}
                                                </td>
                                               
                                            </tr>
            
                                        </tbody>
                                    </table>
                                </div>
                                <div class="col l-12 m-12 c-12 box-pie-chart">
                                    <div style="float: right;" class="chose_month">
                                        <p>Loại thống kê:</p>
                                       <select [(ngModel)]="chosseFormat" (change)="changeFormatDate($event)" style="width: 200px;outline: none;padding: 2.5px;border: 1px solid #7777;border-radius: 7px;">
                                            <option value="0">Ngày</option>
                                            <option value="1">Tháng</option>
                                            <option value="2">Năm</option>
                                       </select>
                                       <ng-container *ngIf="chosseFormat === 0">
                                            <p>Chọn khoảng ngày:</p>
                                            <p-calendar [(ngModel)]="rangeDates" (ngModelChange)="changeRangeDay($event)"  selectionMode="range" [readonlyInput]="true"></p-calendar>
                                       </ng-container>
                                       <ng-container *ngIf="chosseFormat === 1">
                                        <p>Chọn tháng</p>
                                        <p-calendar (ngModelChange)="changeMonth($event)" [(ngModel)]="month" view="month" dateFormat="mm/yy" [readonlyInput]="true"></p-calendar>
                                        </ng-container>
                                       <ng-container *ngIf="chosseFormat === 2">
                                        <p>Chọn năm:</p>
                                        <p-calendar (ngModelChange)="changeYearPie($event)" [(ngModel)]="yearpie" view="year" dateFormat="yy" inputId="yearpicker"></p-calendar>
                                       </ng-container>
                                        
                                    </div>
                                    <div class="rate_in_range_dayandmonth">
                                        
                                        <ngx-charts-pie-chart
                                        [view]="viewPie"
                                        [scheme]="colorSchemePieChart"
                                        [results]="single"
                                        [gradient]="gradient"
                                        [legend]="showLegendPie"
                                        [legendTitle]="'Thông tin'"
                                        [legendPosition]="legendPosition"
                                        [animations]="true"
                                        [labels]="showLabels"
                                        [doughnut]="isDoughnut"
                                        (select)="onSelect($event)"
                                        (activate)="onActivate($event)"
                                        (deactivate)="onDeactivate($event)"
                                        >
                                        </ngx-charts-pie-chart>
                                        <div style="margin: 20px 0;">
                                            <p>Chọn tháng</p>
                                        <p-calendar (ngModelChange)="changeMonthBarChart($event)" [(ngModel)]="monthBarChart" view="month" dateFormat="mm/yy" [readonlyInput]="true"></p-calendar>
                                        </div>
                                    </div>
                                   
                                </div>
                                <div class="col l-12 m-12 c-12 box-bar-vertical" style="margin-bottom: 100px;">
                                    <ngx-charts-bar-vertical
                                    [view]="viewVertical"
                                    [scheme]="colorSchemeVertical"
                                    [results]="singlechart"
                                    [gradient]="gradientVertical"
                                    [xAxis]="showXAxis"
                                    [yAxis]="showYAxis"
                                    [animations]="true"
                                    [showXAxisLabel]="showXAxisLabel"
                                    [showYAxisLabel]="showYAxisLabel"
                                    [xAxisLabel]="xAxisLabelVertical"
                                    [yAxisLabel]="yAxisLabelVertical"
                                    (select)="onSelect($event)">
                                    </ngx-charts-bar-vertical>
                                </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</aside>
